block head
  doctype html
  html(lang='ja')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/styles.css')
    
    title Fly Coding format
    
    body
      block header
        include ../section/header
        
      block cont
      
      block footer
        include ../section/footer